<template>
  <div>
    <v-container>

      <p class="display-3 font-weight-light	text-center pa-4">GIỎ HÀNG</p>
      <v-row>
        <v-col :cols="12" md="9" sm="12" >
          <v-simple-table>
            <template v-slot:default>
              <thead>
              <tr>
                <th class="text-center pl-10">SẢN PHẨM</th>
                <th class="text-center">GIÁ</th>
                <th class="text-center">SỐ LƯỢNG</th>
                <th class="text-center">TỔNG</th>
                <th class="text-center"></th>
              </tr>
              </thead>
              <tbody style="text-align: center">
              <tr  v-for="(item, index) in cart.orderProducts" :key="index">
                <td>
                  <v-list-item
                    key="1"
                    @click=""
                  >
                    <v-list-item-avatar>
                      <v-img :src="item.product.images[0].fileDownloadUri"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>{{item.product.name}}</v-list-item-title>
                      <v-list-item-subtitle>{{item.product.cost}}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </td>
                <td v-if="item.product.promotion === null">${{item.product.cost}}</td>
                <td v-else>${{item.product.cost*(1 - item.product.promotion.reducePercent)}}</td>
                <td>
                  <input
                    type="button" value="+" class="plus" @click="onPlus(index)"/>
                  <input style="text-align: center"
                    :value="item.quantity"
                    :disabled="true"
                    type="number" step="1" max="10" min="1" title="Qty"
                    class="qty"
                    size="4"/>
                  <input
                    type="button" value="-" class="minus" @click="onMinus(index)"/>
                </td>
                <td v-if="item.product.promotion === null">{{item.product.cost*item.quantity}}</td>
                <td v-else>{{item.product.cost*(1 - item.product.promotion.reducePercent)*item.quantity}}</td>
                <td><a @click="ignore(index)">X</a></td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
        <v-col :cols="12" md="3" sm="12" style="background-color: lightgray">
          <p class="headline">Tổng hợp đơn hàng</p>
          <p class="overline">Tất cả những số lượng đều được tính toán dựa trên những mặt hàng bạn có trong giỏ .
          </p>
          <v-simple-table>
            <template v-slot:default>
              <tbody>
              <tr>
                <td>Giá thành</td>
                <td class="text-right" style="width: 150px;">{{cart.totalPrice}} VND</td>
              </tr>
              <tr>
                <td>Chi phí vận chuyển</td>
                <td class="text-right" style="width: 150px;">30000 VND</td>
              </tr>
              <tr>
                <td>Tổng đơn</td>
                <td class="text-right" style="width: 170px;"><b>{{cart.totalPrice + 30000}} VND</b></td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
          <div class="text-center">
            <v-btn class="primary white--text mt-5" outlined @click="processingCart()">Tiến hành đặt đơn</v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-card  class="accent" >
      <v-container>
        <v-row no-gutters>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4 hidden-sm-only" align="right">
                <v-icon class="display-2">mdi-truck</v-icon>
              </v-col>
              <v-col class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">GIAO HÀNG NHANH GỌN</h5>
                <p class="font-weight-thin">Miễn phí giao hàng khi hóa đơn đủ điều kiện</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-cash-usd</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">CHÍNH SÁCH HOÀN TIỀN</h5>
                <p class="font-weight-thin">30 ngày hoàn tiền sau mua</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row>
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-headset</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">+84-989-280-740</h5>
                <p class="font-weight-thin">24/7 Hỗ trợ</p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
    import {mapActions, mapGetters, mapState} from "vuex";
    import {swal} from "vue-swal/src";

    export default {
        name: "index",
      computed: {
          ...mapState({
            'cart': 'cart'
          })
      },
      methods: {
        ...mapActions({
          'getDetailCart': 'getDetailCart',
          'updateCart': 'updateCart',
          'removeItemFromCart': 'removeItemFromCart',
        }),
        onPlus (index) {
          let orderProduct = {
            productCode: this.cart.orderProducts[index].product.productCode,
            productId: this.cart.orderProducts[index].product.id,
            quantity: 1,
            price: this.cart.orderProducts[index].product.cost
          }
          this.updateCart({
            payload: orderProduct,
            callback: res => {
              this.getDetailCart()
            }
          })
        },
        onMinus (index) {
          let orderProduct = {
            productCode: this.cart.orderProducts[index].product.productCode,
            productId: this.cart.orderProducts[index].product.id,
            quantity: 1,
            price: this.cart.orderProducts[index].product.cost
          }
          this.removeItemFromCart({
            payload: orderProduct,
            callback: res => {
              this.getDetailCart()
            }
          })

        },
        ignore (index) {
          let orderProduct = {
            productCode: this.cart.orderProducts[index].product.productCode,
            productId: this.cart.orderProducts[index].product.id,
            quantity: this.cart.orderProducts[index].quantity,
            price: this.cart.orderProducts[index].product.cost
          }
          this.removeItemFromCart({
            payload: orderProduct,
            callback: res => {
              this.getDetailCart()
            }
          })
        },
        processingCart () {
          if (this.cart.orderProducts !== null) {
            this.$router.push('checkout')
          } else {
            swal({
              text: "Giỏ hàng của bạn trống",
              icon: "warning"
            })
          }
        }
      },
      created() {
        this.getDetailCart()
      }
    }
</script>

<style scoped>

</style>
