<template>
  <div class="home">
    <v-carousel cycle
                hide-delimiters height="900px">
      <v-carousel-item v-for="(slide, i) in slides"
                       :key="i">
        <v-img class="fill-height"
               align="center"
               justify="center"
               :src="slide"
               height="900px">
          <div class="col-md-10 white--text pl-5 pr-5" style="padding-top: 150px">
            <h1 style="font-size: 64px"><strong>Chào mừng tới<br>HealthySmart</strong></h1>
            <h3><strong>Hãy cùng trải nghiệm và thưởng thức những điều thú vị từ shop nhé <br> Chúc bạn có thời gian mua sắm vui vẻ.</strong></h3>
            <p><a class="btn hvr-hover white--text" href="#">Mua ngay</a></p>
          </div>
        </v-img>
      </v-carousel-item>
    </v-carousel>
    <div class="pl-4 pr-4 row" style="padding: 100px">
      <div class="pt-10 col-md-4 col-sm-4 col-xs-12">
        <v-card>
          <v-img
            :src="require('../../assets/img/product/vergetable.jpg')"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="400px"
          >
            <h1 class="text-center font-size">Hàng Đầu</h1>
            <div class="text-center">
              <v-btn href="/shop" class="white--text " outlined>MUA NGAY</v-btn>
            </div>
          </v-img>
        </v-card>
        <!--        </v-hover>-->
      </div>
      <div class="pt-10 col-md-4 col-sm-4 col-xs-12">
        <v-card>
          <v-img
            :src="require('../../assets/img/product/giavi.jpg')"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="400px"
          >
            <h1 class="text-center font-size">Mới Về</h1>
            <div class="text-center">
              <v-btn class="white--text" outlined @click="getProductArrivals()">MUA NGAY</v-btn>
            </div>
          </v-img>
        </v-card>
      </div>
      <div class="pt-10 col-md-4 col-sm-4 col-xs-12">
        <v-card>
          <v-img
            :src="require('../../assets/img/banner/banner-03.jpg')"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="400px"
          >
            <h1 class="text-center font-size">Yêu Thích</h1>
            <div class="text-center">
              <v-btn class="white--text" outlined>MUA NGAY</v-btn>
            </div>
          </v-img>
        </v-card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="title-all text-center">
          <h1>GIAN HÀNG</h1>
          <p>Cùng lựa chọn sản phẩm cho mình nào</p>
        </div>
      </div>
    </div>
    <div class="pl-10 pr-10 row" style="background-color: #f4f4f4; padding: 10px">
      <div class="row col-sm-6 mx-auto">
        <div class="col-md-2 col-sm-2 col-xs-6 " v-for="(category, index) in categories">
          <v-card outlined width="150px" align="center" class="pt-2 category-card cat-hover"
                  v-on:click="filter(index+1)">
            <a style="text-align: center">
              <img v-bind:src="imgCat[index].img">
            </a>
            <p class="text-center">{{category.name}}</p>
          </v-card>
        </div>
      </div>
    </div>
    <v-container class="special-list">
      <v-row no-gutters>
        <v-col :cols="12">
          <v-card-text
            class=""
            tile
            outlined
          ><v-divider></v-divider>
          </v-card-text>
          <div class="columns is-centered is-multiline">
            <div class="card column is-one-quarter">
              <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12" v-for="product in paginate" :key="product.id">
                  <Item :product="product"/>
                </div>
              </div>
            </div>
          </div>
        </v-col>
      </v-row>
      <div class="text-center mt-12">
        <v-pagination
          v-model="currentPage"
          :length="getPages()"
        ></v-pagination>
      </div>
    </v-container>
    <v-card  class="accent" >
      <v-container>
        <v-row no-gutters>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4 hidden-sm-only" align="right">
                <v-icon class="display-2">mdi-truck</v-icon>
              </v-col>
              <v-col class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">GIAO HÀNG NHANH GỌN</h5>
                <p class="font-weight-thin">Miễn phí giao hàng khi hóa đơn đủ điều kiện</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-cash-usd</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">CHÍNH SÁCH HOÀN TIỀN</h5>
                <p class="font-weight-thin">30 ngày hoàn tiền sau mua</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row>
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-headset</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">+84-989-280-740</h5>
                <p class="font-weight-thin">24/7 Hỗ trợ</p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex'
  import Item from "../Item";
  import Pagination from "../../components/common/Pagination";
  import * as Types from "../../store/types"

  export default {
    components: {Item, Pagination},
    data() {
      return {
        slides: [
          'https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1600&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ',
          'https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1600&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ',
          'https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1600&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ',
          'https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1600&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ',
          'https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1600&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ',
          'https://images.unsplash.com/photo-1472926373053-51b220987527?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1600&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ',
          'https://images.unsplash.com/photo-1497534547324-0ebb3f052e88?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1600&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'
        ],
        imgCat: [
          {
            img: 'https://gcaeco.vn/static/media/images/product-category/2018_04_26/01-1524741137.png',
          },
          {
            img: 'https://gcaeco.vn/static/media/images/product-category/2018_04_26/03-1524729152.png',
          },
          {
            img: 'https://gcaeco.vn/static/media/images/product-category/2018_04_26/04-1524729207.png',
          },
          {
            img: "https://gcaeco.vn/static/media/images/product-category/2018_04_26/07-1524729824.png",
          },
          {
            img: 'https://gcaeco.vn/static/media/images/product-category/2018_04_26/06-1524729486.png',
          },
          {
            img: 'https://gcaeco.vn/static/media/images/product-category/2018_04_26/08-1524729681.png',
          }
        ],
        productsList: [],
        currentPage: this.$store.state.currentPage,
        totalItemsCount: this.$store.getters.totalItemCountAfterFilter,
        perPage: this.$store.state.perPage,
        pagesToShow: this.$store.state.pagesToShow

      }
    },
    computed: {
      ...mapGetters([
        "paginate"
      ]),
      ...mapState([
        "categories",
        "products"
      ])
    },
    methods: {
      ...mapActions({
        'getProductArrivals': 'getProductArrivals'
      }),
      filter(e) {
        this.$store.commit(Types.CATEGORY_FILTER, e);
      },
      getPages() {
        const c = Math.ceil(this.$store.getters.totalItemCountAfterFilter / this.$store.state.perPage);
        const p = this.$store.state.currentPage || 1;
        const pagesToShow = this.$store.state.pagesToShow || 9;
        const pages = [];
        pages.push(p);
        const times = pagesToShow - 1;
        for (let i = 0; i < times; i++) {
          if (pages.length < pagesToShow) {
            if (Math.min.apply(null, pages) > 1) {
              pages.push(Math.min.apply(null, pages) - 1);
            }
          }
          if (pages.length < pagesToShow) {
            if (Math.max.apply(null, pages) < c) {
              pages.push(Math.max.apply(null, pages) + 1);
            }
          }
        }
        pages.sort((a, b) => a - b);
        return pages;
      }
    }
  }
</script>
<style>
  .home {
    color: #666666;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    line-height: 1.80857;
  }

  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
  }

  .btn {
    text-decoration: none !important;
    width: 150px;
    height: 50px;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 24px;
    font-weight: bolder;
  }

  .hvr-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #b0b435;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0;
    box-shadow: none;
  }

  .hvr-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-hover:hover::after {
    -webkit-transform: scale(2);
    transform: scale(2);
    color: #ffffff;
  }

  .hvr-hover {
    overflow: hidden;
  }

  .category-card {
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-weight: bolder;
  }

  .cat-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0;
    box-shadow: none;
  }

  .cat-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b0b435;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .cat-hover:hover::after {
    -webkit-transform: scale(2);
    transform: scale(2);
    color: #ffffff;
  }

  .cat-hover {
    overflow: hidden;
  }
</style>

