@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700');
#app {
  color: #666666;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
  line-height: 1.80857;
}
