<template>
    <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <div class="card">
                    <div class="header">
                        <h3>Thông tin người dùng</h3>
                    </div>
                    <div class="body">
                        <form>
                            <div class="block row">
                                <div class="col-sm-5">
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>email</label>
                                        </div>
                                        <div class="col-sm-8">{{form.email}}</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>tên<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.name" required maxlength="255" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>họ và tên<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.fullName" required maxlength="255" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>số điện thoại<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.phone" required maxlength="255" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>địa chỉ<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.address" required maxlength="255" type="text">
                                            </div>
                                        </div>
                                    </div>
                                  <div class="row form-group">
                                    <div class="col-sm-6">
                                      <v-btn class="primary white--text mt-5" style="max-width: 200px" outlined @click="onSubmit()">Cập nhật</v-btn>
                                    </div>
                                    <div class="col-sm-6">
                                      <v-btn class="success white--text mt-5" style="max-width: 200px" outlined @click="onHome()">Trang chủ</v-btn>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group" style="padding-top: 10px">
                                        <div class="img-wrap">
                                            <p id="clientLogoDelete" class="close">&times;</p>
                                            <img class="formatAvatar" v-if="form.imageUrl" v-bind:src="form.imageUrl"/>
                                            <img class="formatAvatar" v-else src="../../assets/img/avatar.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import {API_URL} from '../../constant'
import {auth} from '../../http_common'
import {mapActions} from "vuex";

export default {
  name: 'Profile',
  data () {
    let initForm = {
      id: '',
      email: '',
      name: '',
      fullName: '',
      address: '',
      phone: '',
      imageUrl: '',
      password: ''
    }
    return {
      form: _.cloneDeep(initForm)
    }
  },
  methods: {
    ...mapActions({
      'updateUserInfo': 'updateUserInfo'
    }),
    getCurrentUser() {
      auth().get(API_URL + '/user/me').then(response => {
        this.form = response.data
      })
    },
    initialCart () {
      auth().post(API_URL+ '/cart', {}).then(res => {
        console.log(res)
      })
    },
    onSubmit () {
      this.updateUserInfo({
        userId: this.form.id,
        payload: this.form,
        callback: res => {
          console.log(res)
          this.$router.push('/')
        }
      })
    },
    onHome () {
      this.$router.push('/')
    }
  },
  created() {
    this.getCurrentUser()
    this.initialCart()
  }
}
</script>
<style scoped>
  .form-group {
  }
  .card {
    max-width: 900px;
    text-align: center;
  }
</style>
