<template>
  <div class="container">
    <header class="jumbotron">
      <router-link to="/oauth2/redirect" v-bind:class="oauth"/>
    </header>
  </div>
</template>

<script>
import * as CONST from '../../constant'
import {auth} from '../../http_common'
import LoggedUser from './logged-user'
import {API_URL} from '../../constant'

export default {
  name: 'RedirectOauth',
  data () {
    return {
      content: ''
    }
  },
  computed: {
    oauth () {
      const token = this.getUrlParameter('token')
      if (token) {
        localStorage.setItem(CONST.ACCESS_TOKEN, token)
        auth().get(API_URL+ '/user/me')
          .then(response => {
            LoggedUser.setLoggedUser(response.data)
          })
          .catch((err) => {
            console.log(err)
          })
        return this.$router.push('/profile')
      } else {
        return this.$router.push('/register')
      }
    }
  },
  methods: {
    getUrlParameter (name) {
      const queryString = window.location.search
      const urlParams = new URLSearchParams(queryString)
      return urlParams.get(name)
    }
  }
}
</script>

<style scoped>

</style>
