<template>
  <div class="signup-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <div class="signup-content">
      <h1 class="signup-title">Signup with SpringSocial</h1>
      <div class="social-signup">
        <a class="btn btn-block social-btn google" :href=GOOGLE_AUTH_URL>
          <img src="../../../src/assets/img/google-logo.png" alt="Google" /> Sign up with Google</a>
        <a class="btn btn-block social-btn facebook" :href=FACEBOOK_AUTH_URL>
          <img src="../../../src/assets/img/fb-logo.png" alt="Facebook" /> Sign up with Facebook</a>
        <a class="btn btn-block social-btn github" :href=GITHUB_AUTH_URL>
          <img src="../../../src/assets/img/github-logo.png" alt="Github" /> Sign up with Github</a>
      </div>
    </div>
  </div>
</template>

<script>
import * as CONST from '../../constant'

export default {
  name: 'Register',
  data () {
    return {
      user: {},
      submitted: false,
      successful: false,
      message: '',
      GOOGLE_AUTH_URL: CONST.GOOGLE_AUTH_URL,
      FACEBOOK_AUTH_URL: CONST.FACEBOOK_AUTH_URL,
      GITHUB_AUTH_URL: CONST.GITHUB_AUTH_URL,
      ACCESS_TOKEN: CONST.ACCESS_TOKEN
    }
  }
}
</script>

<style scoped>
  label {
    display: block;
    margin-top: 10px;
  }

  .signup-content {
    padding: 60px 25px 60px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .signup-container {
    text-align: center;
  }


  .signup-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
  }

  .social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
  }

  .social-btn.google {
    margin-top: 7px;
  }

  .social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
  }

  .social-btn.github img {
    height: 24px;
    margin-left: 3px;
  }

  .login-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
  }

  .signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: rgba(0,0,0,.65);
    background-color: transparent;
    border-color: #e8e8e8;
    outline: none;
  }

</style>
