<template>
  <div>
    <v-container>
      <div class="row">
        <div
          class="col-md-3 col-sm-3 col-xs-12"
        >
          <v-card outlined>
            <v-card-title>Lọc sản phẩm</v-card-title>
            <v-divider></v-divider>
            <v-list shaped>
              <v-list-item-group color="primary" >
                <v-list-item
                  v-for="(item, i) in categories"
                  :key="i"
                >
                  <v-list-item-content v-on:click="filter(i+1)">
                    <v-list-item-title v-text="item.name"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
            <v-divider></v-divider>
            <v-card-title>Giá cả</v-card-title>
            <v-range-slider
              v-model="range"
              :max="priceFilter.max"
              :min="priceFilter.min"
              :height="10"
              class="align-center"
              dense
              @change="filterProductByPrice(({max: range[1], min: range[0]}))"
            ></v-range-slider>
            <v-row class="pa-2" dense>
              <v-col cols="12" sm="5">
                <v-text-field
                  :value="range[0]"
                  label="nhỏ nhất"
                  outlined
                  dense
                  @change="$set(range, 0, $event)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="2">
                <p class="pt-2 text-center">TO</p>
              </v-col>
              <v-col cols="12" sm="5">
                <v-text-field
                  :value="range[1]"
                  label="lớn nhất"
                  outlined
                  dense
                  @change="$set(range, 1, $event)"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-card-title class="pb-0">Nhà phân phối</v-card-title>
            <v-list shaped>
              <v-list-item-group color="primary" >
                <v-list-item
                  v-for="(item, i) in providers"
                  :key="i"
                >
                  <v-list-item-content v-on:click="filterProductByName(item.providerName)">
                    <v-list-item-title v-text="item.providerName"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
            <v-divider></v-divider>
          </v-card>
        </div>
        <div
          class="col-md-9 col-sm-9 col-xs-12">
          <v-row dense>
            <v-col cols="12" sm="8" class="pl-6 pt-6">
              <small>Showing 1-12 of 200 products</small>
            </v-col>
            <v-col cols="12" sm="4">
              <v-select class="pa-0" v-model="select" :items="options.map(opt => opt.name)" style="margin-bottom: -20px;" outlined dense @change="filterProduct($event)"></v-select>
            </v-col>
          </v-row>

          <v-divider></v-divider>

          <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-12" :key="pro.id" v-for="pro in paginate">
              <v-hover v-slot:default="{ hover }">
                <Item :product="pro"></Item>
              </v-hover>
            </div>
          </div>
          <div class="text-center mt-12">
            <v-pagination
              v-model="currentPage"
              :length="getPages()"
            ></v-pagination>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>
<style>
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .8;
    position: absolute;
    width: 100%;
  }
</style>
<script>
  import {mapState, mapActions, mapGetters} from 'vuex'
  import Item from "../Item";
  import * as Types from "../../store/types";
  export default {
    components: {Item},
    data() {
      return {
        range: [0, 1000000],
        select:'Mặc định',
        options: [
          {
            name :'Măc định',
            code : 0
          },
          {
            name : 'Giá: Cao đến thấp',
            code : 2
          },
          {
            name : 'Giá: Thấp đến cao',
            code : 3
          },
        ],
        page:1,
        breadcrums: [
          {
            text: 'Home',
            disabled: false,
            href: 'home',
          },
          {
            text: 'Shop',
            disabled: false,
            href: 'Shop',
          },
          {
            text: 'Vegetable',
            disabled: true,
            href: 'breadcrumbs_shirts',
          },
        ],
        priceFilter: {
          min : 0,
          max : 100000
        },
        currentPage: this.$store.state.currentPage,
        totalItemsCount: this.$store.getters.totalItemCountAfterFilter,
        perPage: this.$store.state.perPage,
        pagesToShow: this.$store.state.pagesToShow

      }
    },
    watch() {
      this.priceFilter = {
        max : range[1],
        min : range [0]
      }
      this.filterProductByPrice(this.priceFilter)
    },
    computed: {
      ...mapState([
        "categories",
        "products",
        "providers",
        "advanceFilter"
      ]),
      ...mapGetters([
        "paginate"
      ]),
    },
    methods: {
      ...mapActions([
        'updatePageNumber',
        'listCategory',
        'listProduct',
        'getProviders'
      ]),
      getPages() {
        const c = Math.ceil(this.$store.getters.totalItemCountAfterFilter / this.$store.state.perPage);
        const p = this.$store.state.currentPage || 1;
        const pagesToShow = this.$store.state.pagesToShow || 9;
        const pages = [];
        pages.push(p);
        const times = pagesToShow - 1;
        for (let i = 0; i < times; i++) {
          if (pages.length < pagesToShow) {
            if (Math.min.apply(null, pages) > 1) {
              pages.push(Math.min.apply(null, pages) - 1);
            }
          }
          if (pages.length < pagesToShow) {
            if (Math.max.apply(null, pages) < c) {
              pages.push(Math.max.apply(null, pages) + 1);
            }
          }
        }
        pages.sort((a, b) => a - b);
        return pages;
      },
      filter(e) {
        this.$store.commit(Types.CATEGORY_FILTER, e);
      },
      filterProductByPrice (rangePrice) {
        this.$store.commit(Types.PRICE_FILTER, rangePrice)
      },
      filterProductByName (name) {
        this.$store.commit(Types.NAME_FILER, name)
      },
      filterProduct (e) {
        this.options.forEach(opt => {
          if (e === opt.name) {
            this.$store.commit('updateAdvanceFilter', opt.code)
          }
        })
      }
    },
    created() {
      this.getProviders()
    }
  }
</script>
