<template>
    <div>
      <v-hover v-slot:default="{ hover }">
        <v-card
          class="mx-auto"
          color="grey lighten-4"
          max-width="600">
          <v-img
            v-if="product.images.length > 0"
            class="white--text align-end"
            :aspect-ratio="16/9"
            height="200px"
            :src="product.images[0].fileDownloadUri">
            <v-card-title>{{product.name}}</v-card-title>
            <v-expand-transition>
              <div
                v-if="hover"
                class="d-flex transition-fast-in-fast-out white darken-2 v-card--reveal display-3 white--text"
                style="height: 100%;"
              >
                <v-btn v-if="hover" :href="`/product/${product.id}`" class="" outlined>XEM</v-btn>
              </div>

            </v-expand-transition>
          </v-img>
          <v-img
            v-else
            class="white--text align-end"
            :aspect-ratio="16/9"
            height="200px"
            src="../../../static/img/banner/banner-01.jpg"
            >
            <v-card-title>{{product.name}}</v-card-title>
            <v-expand-transition>
              <div
                v-if="hover"
                class="d-flex transition-fast-in-fast-out white darken-2 v-card--reveal display-3 white--text"
                style="height: 100%;"
              >
                <v-btn v-if="hover" :href="`/product/${product.id}`" class="" outlined>XEM</v-btn>
              </div>

            </v-expand-transition>
          </v-img>
          <v-card-text class="text--primary row">
            <div class="col-sm-8">
              <div><a :href="`/product/${product.id}`" style="text-decoration: none"/>{{product.productCode}}</div>
              <div>${{product.cost}}</div>
            </div>
            <div class="col-sm-4" v-if="product.quantity > 0">
              {{product.quantity}} số lượng
            </div>
            <div class="col-sm-4 text-danger" v-else>
              Out off serving
            </div>
          </v-card-text>
        </v-card>
      </v-hover>
    </div>
</template>

<script>
    export default {
      name: "Item",
      props: ['product']
    }
</script>

<style scoped>
  .text-danger {
    color:#a94442
  }
</style>
