<template>
  <v-app id="inspire">
    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="primary"
      dark
    >
<!--      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />-->

      <v-toolbar-title
        style="width: 350px" to="/"
      >
        <a href="/" class="white--text" style="text-decoration: none; font-weight: bolder; font-size: 25px"><v-icon>mdi-fruit-cherries</v-icon> HealthySmart</a>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down pl-10 ml-4"
      />
      <v-spacer />
      <div class="header">
          <nav class="header__nav">
            <div class="header__navbar">
              <div class="header__item">
                <a to="#" class="header__link">
                  <transition name="slide-fade">
                    <!-- Header Navigation Menu Icons -->
                    <button class="header--button" v-if="show" key="on" @click="show = false">
                      <svg viewBox="0 0 24 24" class="header--icon">
                        <title>Close</title>
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path fill="currentColor" d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z" />
                      </svg>
                    </button>
                    <button class="header--button" v-else key="off" @click="show = true">
                      <svg viewBox="0 0 24 24" class="header--icon">
                        <title>Navigation Menu</title>
                        <path fill="currentColor" d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z" />
                      </svg>
                    </button>
                  </transition>
                </a>
                <!-- Dropdown Menu -->
                <transition name="dropdown">
                  <div class="dropdown__menu" v-bind:class="{ active: show }" v-if="show">
                    <ul class="dropdown__menu-nav">
                      <li class="dropdown__menu-item">
                        <a v-if="username" @click="logout()" href="/register" class="dropdown__menu-link" title="Account">
                          <div class="dropdown__menu-svg">
                            <svg viewBox="0 0 496 512">
                              <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm128 421.6c-35.9 26.5-80.1 42.4-128 42.4s-92.1-15.9-128-42.4V416c0-35.3 28.7-64 64-64 11.1 0 27.5 11.4 64 11.4 36.6 0 52.8-11.4 64-11.4 35.3 0 64 28.7 64 64v13.6zm30.6-27.5c-6.8-46.4-46.3-82.1-94.6-82.1-20.5 0-30.4 11.4-64 11.4S204.6 320 184 320c-48.3 0-87.8 35.7-94.6 82.1C53.9 363.6 32 312.4 32 256c0-119.1 96.9-216 216-216s216 96.9 216 216c0 56.4-21.9 107.6-57.4 146.1zM248 120c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 144c-30.9 0-56-25.1-56-56s25.1-56 56-56 56 25.1 56 56-25.1 56-56 56z" />
                            </svg>
                          </div>
                          <div class="dropdown__menu-text">Thoát</div>
                        </a>
                        <a v-else href="/register" class="dropdown__menu-link" title="Account">
                          <div class="dropdown__menu-svg">
                            <svg viewBox="0 0 496 512">
                              <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm128 421.6c-35.9 26.5-80.1 42.4-128 42.4s-92.1-15.9-128-42.4V416c0-35.3 28.7-64 64-64 11.1 0 27.5 11.4 64 11.4 36.6 0 52.8-11.4 64-11.4 35.3 0 64 28.7 64 64v13.6zm30.6-27.5c-6.8-46.4-46.3-82.1-94.6-82.1-20.5 0-30.4 11.4-64 11.4S204.6 320 184 320c-48.3 0-87.8 35.7-94.6 82.1C53.9 363.6 32 312.4 32 256c0-119.1 96.9-216 216-216s216 96.9 216 216c0 56.4-21.9 107.6-57.4 146.1zM248 120c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 144c-30.9 0-56-25.1-56-56s25.1-56 56-56 56 25.1 56 56-25.1 56-56 56z" />
                            </svg>
                          </div>
                          <div class="dropdown__menu-text">Đăng nhập</div>
                        </a>
                      </li>
                      <li class="dropdown__menu-item">
                        <a v-if="username" href="/profile" class="dropdown__menu-link" title="Personal info">
                          <div class="dropdown__menu-svg">
                            <svg viewBox="0 0 576 512">
                              <path fill="currentColor" d="M512 32H64C28.7 32 0 60.7 0 96v320c0 35.3 28.7 64 64 64h448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64zm32 384c0 17.6-14.4 32-32 32H64c-17.6 0-32-14.4-32-32V96c0-17.6 14.4-32 32-32h448c17.6 0 32 14.4 32 32v320zm-72-128H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm0-64H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm0-64H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zM208 288c44.2 0 80-35.8 80-80s-35.8-80-80-80-80 35.8-80 80 35.8 80 80 80zm0-128c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zm46.8 144c-19.5 0-24.4 7-46.8 7s-27.3-7-46.8-7c-21.2 0-41.8 9.4-53.8 27.4C100.2 342.1 96 355 96 368.9V392c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-23.1c0-7 2.1-13.8 6-19.6 5.6-8.3 15.8-13.2 27.3-13.2 12.4 0 20.8 7 46.8 7 25.9 0 34.3-7 46.8-7 11.5 0 21.7 5 27.3 13.2 3.9 5.8 6 12.6 6 19.6V392c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-23.1c0-13.9-4.2-26.8-11.4-37.5-12.3-18-32.9-27.4-54-27.4z" />
                            </svg>
                          </div>
                          <div class="dropdown__menu-text">Thông tin cá nhân</div>
                        </a>
                        <a v-else href="/register" class="dropdown__menu-link" title="Personal info">
                          <div class="dropdown__menu-svg">
                            <svg viewBox="0 0 576 512">
                              <path fill="currentColor" d="M512 32H64C28.7 32 0 60.7 0 96v320c0 35.3 28.7 64 64 64h448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64zm32 384c0 17.6-14.4 32-32 32H64c-17.6 0-32-14.4-32-32V96c0-17.6 14.4-32 32-32h448c17.6 0 32 14.4 32 32v320zm-72-128H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm0-64H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm0-64H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zM208 288c44.2 0 80-35.8 80-80s-35.8-80-80-80-80 35.8-80 80 35.8 80 80 80zm0-128c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zm46.8 144c-19.5 0-24.4 7-46.8 7s-27.3-7-46.8-7c-21.2 0-41.8 9.4-53.8 27.4C100.2 342.1 96 355 96 368.9V392c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-23.1c0-7 2.1-13.8 6-19.6 5.6-8.3 15.8-13.2 27.3-13.2 12.4 0 20.8 7 46.8 7 25.9 0 34.3-7 46.8-7 11.5 0 21.7 5 27.3 13.2 3.9 5.8 6 12.6 6 19.6V392c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-23.1c0-13.9-4.2-26.8-11.4-37.5-12.3-18-32.9-27.4-54-27.4z" />
                            </svg>
                          </div>
                          <div class="dropdown__menu-text">Thông tin cá nhân</div>
                        </a>
                      </li>
                      <li class="dropdown__menu-item">
                        <a href="/order-history" class="dropdown__menu-link" title="Data &amp; personalization">
                          <div class="dropdown__menu-svg">
                            <svg viewBox="0 0 496 512">
                              <path fill="currentColor" opacity="0.4" d="M447 73.14v45.72C447 159.14 346.67 192 223 192S-1 159.14-1 118.86V73.14C-1 32.86 99.33 0 223 0s224 32.86 224 73.14z" />
                              <path fill="currentColor" d="M-1 336v102.86C-1 479.14 99.33 512 223 512s224-32.86 224-73.14V336c-48.13 33.14-136.21 48.57-224 48.57S47.12 369.14-1 336zm224-111.43c-87.79 0-175.88-15.43-224-48.57v102.86C-1 319.14 99.33 352 223 352s224-32.86 224-73.14V176c-48.13 33.14-136.21 48.57-224 48.57z" />
                            </svg>
                          </div>
                          <div class="dropdown__menu-text">Đơn hàng</div>
                        </a>
                      </li>
                      <li class="dropdown__menu-item">
                        <a href="/order-product-history" class="dropdown__menu-link" title="Subscriptions">
                          <div class="dropdown__menu-svg">
                            <svg viewBox="0 0 576 512">
                              <path fill="currentColor" d="M528 31H48C21.5 31 0 52.5 0 79v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V79c0-26.5-21.5-48-48-48zm16 400c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V79c0-8.8 7.2-16 16-16h480c8.8 0 16 7.2 16 16v352zm-352-68v8c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v8c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z" />
                            </svg>
                          </div>
                          <div class="dropdown__menu-text">Lịch sử</div>
                        </a>
                      </li>
                      <li class="dropdown__menu-item">
                        <a href="#" class="dropdown__menu-link" title="Help">
                          <div class="dropdown__menu-svg">
                            <svg viewBox="0 0 512 512">
                              <path fill="currentColor" d="M256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28zm7.67-24h-16c-6.627 0-12-5.373-12-12v-.381c0-70.343 77.44-63.619 77.44-107.408 0-20.016-17.761-40.211-57.44-40.211-29.144 0-44.265 9.649-59.211 28.692-3.908 4.98-11.054 5.995-16.248 2.376l-13.134-9.15c-5.625-3.919-6.86-11.771-2.645-17.177C185.658 133.514 210.842 116 255.67 116c52.32 0 97.44 29.751 97.44 80.211 0 67.414-77.44 63.849-77.44 107.408V304c0 6.627-5.373 12-12 12zM256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8z" />
                            </svg>
                          </div>
                          <div class="dropdown__menu-text">Trợ giúp</div>
                        </a>
                      </li>
                      <li class="dropdown__menu-item">
                        <a href="#" class="dropdown__menu-link" title="Send feedback">
                          <div class="dropdown__menu-svg">
                            <svg viewBox="0 0 512 512">
                              <path fill="currentColor" d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64zm32 352c0 17.6-14.4 32-32 32H293.3l-8.5 6.4L192 460v-76H64c-17.6 0-32-14.4-32-32V64c0-17.6 14.4-32 32-32h384c17.6 0 32 14.4 32 32v288zm-224-88c-13.3 0-24 10.7-24 24s10.7 24 24 24 24-10.7 24-24-10.7-24-24-24zm-8.5-24h17c4.2 0 7.7-3.3 8-7.5l7-112c.3-4.6-3.4-8.5-8-8.5h-31c-4.6 0-8.3 3.9-8 8.5l7 112c.3 4.2 3.8 7.5 8 7.5z" />
                            </svg>
                          </div>
                          <div class="dropdown__menu-text">Phản hồi</div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </transition>
              </div>
            </div>
          </nav>
        </div>
      <v-menu open-on-click offset-y>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" icon>
            <v-badge
              content="2"
              value="2"
              color="green"
              overlap
            >
              <v-icon>mdi-bell</v-icon>
            </v-badge>
          </v-btn>
        </template>
        <v-card
          class="mx-auto"
          outlined
        >

        </v-card>
      </v-menu>
      <v-btn v-on="on" to="/cart" icon>
        <v-badge
          :content="notify"
          :value="notify"
          color="green"
          overlap
        >
          <v-icon>mdi-cart</v-icon>
        </v-badge>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-bottom-navigation
        :value="activeBtn"
        color="primary"
        horizontal>
        <v-btn  href="/" class="v-btn">
            <span>Trang chủ</span>
        </v-btn>
        <v-menu open-on-hover offset-y>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on">
              <span>Sản phẩm</span>
            </v-btn>
          </template>
          <v-card
            class="mx-auto"
            max-width="344"
            outlined
          >

            <v-list-item
              v-for="(category, index) in categories"
              :key="index"
              @click=""
              to="/shop"
            >
              <v-list-item-title>{{ category.name }}</v-list-item-title>
            </v-list-item>

          </v-card>
        </v-menu>
      </v-bottom-navigation>
    </v-content>
      <router-view/>
    <v-footer
      :padless="true"
    >
      <v-card
        flat
        tile
        width="100%"
        class="secondary white--text text-center"
      >
        <v-card-text>
          <v-btn
            class="mx-4 white--text"
            icon
          >
            <v-icon size="24px">mdi-home</v-icon>
          </v-btn>
          <v-btn
            class="mx-4 white--text"
            icon
          >
            <v-icon size="24px">mdi-email</v-icon>
          </v-btn>
          <v-btn
            class="mx-4 white--text"
            icon
          >
            <v-icon size="24px">mdi-calendar</v-icon>
          </v-btn>
           <v-btn
            class="mx-4 white--text"
            icon
          >
            <v-icon size="24px">mdi-delete</v-icon>
          </v-btn>

        </v-card-text>

        <v-card-text class="white--text pt-0">
          Mọi sự hài lòng của bạn là vinh hạnh của chúng tôi, cảm ơn bạn đã đồng hành và tin tưởng <strong>HealthySmart</strong> để chúng tôi có động lực tiếp tục mở rộng và phát triển lớn mạnh hơn nữa và đem những sản phẩm chất lượng đến tay người tiêu
          dùng. Chúc bạn mạnh khỏe
               </v-card-text>

        <v-divider></v-divider>

        <v-card-text class="white--text">
          {{ new Date().getFullYear() }} — <strong>Healthy Smart</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>
<script>
  import LoggedUser from './account/logged-user'
  import {mapState, mapActions, mapGetters} from 'vuex'
  export default {
    data () {
      return {
        activeBtn: 1,
        username: LoggedUser.getLoggedUser().email ?  LoggedUser.getLoggedUser().email.split('@')[0] : null,
        show: false,
        productsList: [],
        notify: 0
      }
    },
    computed: {
      ...mapState([
        "categories",
        "products",
        "cart"
      ])
    },
    methods: {
      getCartLength () {
        this.notify = this.cart.orderProducts !== null ? this.cart.orderProducts.length : 0
      },
      logout() {
        LoggedUser.removeLoggedUser()
      }
    },
    watch: {
      cart: function () {
        this.getCartLength()
      }
    },
    created() {
      this.$store.dispatch('listCategory')
      this.$store.dispatch('listProduct')
      this.$store.dispatch('getDetailCart')
    }
  }
</script>
<style scoped>
  #inspire {
    color: #666666;
    font-family: 'Dosis', sans-serif;
    line-height: 1.80857;
  }
  #inspire span {
    font-size: 20px;
    font-weight: bolder;
  }
  :root {
    --font-primary: 'Open Sans', sans-serif;
    --color-gray: #dadce0;
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  body {
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-primary);
    overflow: hidden;
  }

  hr {
    border: 0;
    height: 0;
    margin: 1.5rem 0;
    border-top: 1px solid var(--color-gray);
  }

  .header {
    padding-top: 5px;
  }
  .header__nav {
    position: relative;
  }
  .header__navbar {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
  .header__item {
    padding: 1rem;
  }
  .header--icon {
    width: 1.65rem;
    height: 1.65rem;
    color: #e8e8e8;
  }
  .header--button {
    top: 0;
    right: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    color: gray;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
  }
  .header--button:focus {
    outline: 0;
  }

  .dropdown__menu {
    top: 100%;
    right: 0;
    position: absolute;
    z-index: 10;
    height: 25rem;
    min-width: 300px;
    margin-top: 1rem;
    overflow-y: auto;
    padding: 2rem 1rem 2rem 0rem;
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--color-gray);
    background-clip: padding-box;
  }
  .dropdown__menu-link {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.8rem 0 0.8rem 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0 50px 50px 0;
  }
  .dropdown__menu-link:hover {
    color: #17bf63;
    background-color: rgba(79, 192, 141, 0.1);
  }
  .dropdown__menu-svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .dropdown__menu-text {
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
  }
</style>
