<template>
  <div>
    <v-container>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <v-carousel>
            <v-carousel-item v-for="(image, index) in product.images" :key="index">
              <v-img :src="image.fileDownloadUri"></v-img>
            </v-carousel-item>
          </v-carousel>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <div class="pl-6">
            <p class="display-1 mb-0">{{product.name}}</p>
            <p class="display-5 mb-0"><strong>{{product.productCode}}</strong></p>
            <v-card-actions class="pa-0">
              <p  v-if="product.promotion !== null" class="headline font-weight-light pt-3">{{product.cost-product.cost*product.promotion.reducePercent}}
                <del style="" class="subtitle-1 font-weight-thin">{{product.cost}}</del>
                VND<span>/{{product.unitProduct.name}}</span></p>
              <p v-else class="headline font-weight-light pt-3">{{product.cost}}
                VND<span>/{{product.unitProduct.name}}</span></p>
              <v-spacer></v-spacer>
              <v-rating v-bind:class="calculator()" v-model="calRate" class="" background-color="warning lighten-3"
                        color="warning" dense readonly></v-rating>
              <span class="body-2	font-weight-thin">{{consumer()}}</span>
            </v-card-actions>
            <p class="subtitle-1 font-weight-thin">
              {{product.description}}
            </p>
            <p><span><strong>Ngày Sản Xuất: </strong></span>{{product.startDate}}</p>
            <p><span><strong>Hạn sử dụng: </strong></span>{{product.expiryDate}}</p>
            <p class="title">số lượng</p>

            <v-text-field
              outlined
              style="width:100px"
              :value="quantity"
              dense
              v-model="quantity"
            ></v-text-field>
            <v-btn class="primary white--text" outlined tile dense v-on:click="onAddProductToCart()">
              <v-icon>mdi-cart</v-icon>
              THÊM VÀO GIỎ
            </v-btn>
            <v-btn class="ml-4" outlined tile @click="addToWishlist()">THÊM VÀO YÊU THÍCH</v-btn>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12">
          <v-tabs>
            <v-tab>Mô tả</v-tab>
            <v-tab>Nguyên vật liệu</v-tab>
            <v-tab>Đánh giá</v-tab>
            <v-tab-item>
              <p class="pt-10 subtitle-1 font-weight-thin">
                {{product.description}}
              </p>
            </v-tab-item>
            <v-tab-item>
              <p class="pt-10 subtitle-1 font-weight-thin">
                {{product.category.name}}
              </p>
            </v-tab-item>
            <v-tab-item>
              <v-list
                three-line="true"
                avatar="true"
              >
                <v-list-item-group v-model="item" color="primary">
                  <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    inactive="true"
                  >
                    <v-list-item-avatar>
                      <v-img :src="item.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title v-html="item.title"></v-list-item-title>
                      <v-rating v-model="rating" class="" background-color="warning lighten-3"
                                color="warning" dense></v-rating>
                      <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-tab-item>
          </v-tabs>
          <v-card-text
            class="pa-0 pt-4"
            tile
            outlined
          >
            <p class="subtitle-1 font-weight-light pt-3 text-center">BẠN CÓ THỂ THÍCH</p>
            <v-divider></v-divider>
            <div class="row text-center">
              <div class="col-md-2 col-sm-4 col-xs-12 text-center" v-for="product in products" :key="product.id">
                <Item :product="product"></Item>
              </div>
            </div>
          </v-card-text>
        </div>
      </div>
    </v-container>
    <v-card class="accent">
      <v-container>
        <v-row no-gutters>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row>
              <v-col class="col-12 col-sm-3 pr-4 hidden-sm-only" align="right">
                <v-icon class="display-2">mdi-truck</v-icon>
              </v-col>
              <v-col class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">FREE SHIPPING & RETURN</h5>
                <p class="font-weight-thin">Free Shipping over $300</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row>
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-cash-usd</v-icon>
              </v-col>
              <v-col class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">MONEY BACK GUARANTEE</h5>
                <p class="font-weight-thin">30 Days Money Back Guarantee</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row>
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-headset</v-icon>
              </v-col>
              <v-col class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">020-800-456-747</h5>
                <p class="font-weight-thin">24/7 Available Support</p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>
<script>
  import {auth} from '../http_common'
  import {API_URL} from "../constant";
  import {mapActions, mapState} from "vuex";
  import * as CONST from '../constant'
  import Item from "../pages/Item";

  export default {
    data: () => ({
      rating: {
        star: 0,
        star2: 0,
        star3: 0,
        star4: 0,
        star5: 0
      },
      item: 5,
      items: [
        {
          avatar: '../../../static/img/avatar.jpg',
          title: 'Thầy Dư',
          subtitle: "Thầy rất thích sản phẩm này. Từ ngày biết đến healthy smart thầy mua sắm nhiều hơn và ăn uống ngon miệng hơn "
        },
        {
          avatar: '../../../static/img/avatar.jpg',
          title: 'Thầy Phúc',
          subtitle: "Sản phẩm này thật tuyệt vời"
        },
        {
          avatar: '../../../static/img/avatar.jpg',
          title: 'Thầy Hưng',
          subtitle: "Chất lượng sản phẩm rất tốt"
        },
        {
          avatar: '../../../static/img/avatar.jpg',
          title: 'Cô Luyên',
          subtitle: "Cô rất thích sản phẩm này"
        },
        {
          avatar: '../../../static/img/avatar.jpg',
          title: 'Thầy Cường',
          subtitle: "..."
        },
      ],
      productData: {},
      product: {},
      promotion: '',
      calRate: 0,
      quantity: 1
    }),
    components: {Item},
    computed: {
      ...mapState({
        'products': 'products'
      })
    },
    methods: {
      ...mapActions({
        'getDetailCart': 'getDetailCart',
        'updateCart': 'updateCart',
        'listProduct': 'listProduct'
      }),
      getDetailProduct() {
        auth().get(API_URL + '/product/' + this.$route.params.id).then(response => {
          this.product = response.data
          this.rating.star1 = this.product.star
          this.rating.star2 = this.product.star2
          this.rating.star3 = this.product.star3
          this.rating.star4 = this.product.star4
          this.rating.star5 = this.product.star5
        }).catch(e => console.log(e))
      },
      calculator() {
        return this.calRate = this.consumer() > 0 ? (this.rating.star1 + this.rating.star2 * 2 + this.rating.star3 * 3 + this.rating.star4 * 4 + this.rating.star5 * 5) / this.consumer() : 0
      },
      consumer() {
        return this.rating.star1 + this.rating.star2 + this.rating.star3 + this.rating.star4 + this.rating.star5
      },
      onAddProductToCart() {
        if (localStorage.getItem(CONST.ACCESS_TOKEN)) {
          let orderProduct = {
            productCode: this.product.productCode,
            productId: this.product.id,
            quantity: this.quantity,
            price: this.product.cost
          }
          this.updateCart({
            payload: orderProduct,
            callback: res => {
              swal({
                title: "Thêm vào giỏ hàng!",
                icon: "success",
                button: "Done!"
              })
              this.getDetailCart()
            }})
        } else {
          this.$router.push('/register')
        }

      }
    },

    created() {
      this.getDetailProduct()
      this.listProduct()
    }
  }
</script>
