<template>
  <div class="cart-box-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6 mb-3">
          <div class="checkout-address">
            <div class="title-left pt-3">
              <h3>Thông tin hóa đơn</h3>
            </div>
            <form class="needs-validation" novalidate>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Tên *</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required v-model="form.name">
                  <div class="invalid-feedback">Tên bắt buộc. </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Họ và tên *</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required v-model="form.fullName">
                  <div class="invalid-feedback"> Họ và tên là bắt buộc. </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="username">Email *</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="username" placeholder="" required v-model="form.email">
                  <div class="invalid-feedback" style="width: 100%;"> email là bắt buộc. </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="telephonenumber">Số điện thoại *</label>
                <input type="email" class="form-control" id="telephonenumber" placeholder="" v-model="form.phone">
                <div class="invalid-feedback"> Số điện thoại là bắt buộc. </div>
              </div>
              <div class="mb-3">
                <label for="address">Địa chỉ *</label>
                <input type="text" class="form-control" id="address" placeholder="" required v-model="form.address">
                <div class="invalid-feedback"> Điạ chỉ của là bắt buộc. </div>
              </div>
            </form>
            <div class="col-md-12 col-lg-12 pt-3">
              <div class="shipping-method-box">
                <div class="title-left">
                  <h3>Phương thức giao hàng</h3>
                </div>
                <div class="mb-4">
                  <div v-for="(item, index) in timeToShip" :key="index">
                    <div class="custom-control custom-radio">
                      <input :id="index" name="formCart.timeToShip" class="custom-control-input" checked="checked" type="radio" v-model="formCart.timeToShip" :value="item.id" @click="changeTypeShip(index)">
                      <label class="custom-control-label" :for="index">{{item.name}}</label> <span class="float-right font-weight-bold">{{item.cost}}</span> </div>
                    <div class="ml-4 mb-2 small">{{item.description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 mb-3">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="odr-box">
                <div class="title-left">
                  <h3>Giỏ hàng</h3>
                </div>
                <div class="rounded p-2 bg-light">
                  <div class="media mb-2 border-bottom" v-for="(item, index) in formCart.orderProducts" :key="index">
                    <div class="media-body"> <a href="detail.html"> {{item.product.name}}</a>
                      <div class="small text-muted">Giá: ${{item.product.cost}} <span class="mx-2">|</span> SL: {{item.quantity}}
                        <span v-if="item.product.promotion !== null"><span class="mx-2">|   Subtotal: {{item.product.cost* (1 -item.product.promotion.reduceProduct)}}</span> <del><span class="mx-2">/{{item.product.cost}}</span></del></span>
                        <span class="mx-2" v-else>|     tổng: {{item.product.cost}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12">
              <div class="order-box">
                <div class="title-left">
                  <h3>Hóa đơn</h3>
                </div>
                <div class="d-flex">
                  <div class="font-weight-bold">Sản phẩm</div>
                  <div class="ml-auto font-weight-bold">Thành tiền</div>
                </div>
                <hr class="my-1">
                <div class="d-flex">
                  <h4>Tiền</h4>
                  <div class="ml-auto font-weight-bold">{{formCart.totalPrice}} </div>
                </div>
                <hr class="my-1">
                <div class="d-flex">
                  <h4>Chi phí vận chuyển</h4>
                  <div class="ml-auto font-weight-bold"> {{timeToShip[formCart.timeToShip].cost}}</div>
                </div>
                <hr>
                <div class="d-flex gr-total">
                  <h5>Tổng tiền</h5>
                  <div class="ml-auto h5">{{formCart.totalPrice + timeToShip[formCart.timeToShip].cost}} </div>
                </div>
                <hr> </div>
            </div>
            <div class="col-12 d-flex shopping-box"> <a class="ml-auto btn hvr-hover" @click="placeOrder()">Đặt đơn</a> </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>


<script>
  import {mapActions, mapGetters} from "vuex";
  import {swal} from "vue-swal/src";

    export default {
        name: "index",
      data() {
          return {
            form: {
              name: '',
              fullName: '',
              address: '',
              phone: '',
              email: ''
            },
            formCart: {
              timeToShip: 0,
              totalPrice: ''
            },
            timeToShip: [
              {
                id: 0,
                name: 'Giao thường',
                cost: 20000,
                description: '(3 ngày)'
              },
              {
                id: 1,
                name: 'Express',
                cost: 25000,
                description: '(2-4 ngày)'
              },
              {
                id: 2,
                name: 'Giao ngay',
                cost: 35000,
                description: 'Trong ngày'
              }
            ]
          }
      },
      computed: {
        ...mapGetters([
          'cartOrder'
        ])
      },
      methods: {
        ...mapActions([
          'getDetailCart',
          'updateCartDetail',
          'updateUserInfo',
          'processingCart'
        ]),
        changeTypeShip(id) {
          this.formCart.timeToShip = id
        },
        placeOrder () {
          let cart = {
            id : this.cartOrder.id,
            userId: this.cartOrder.userId,
            address: this.form.address,
            telephoneNumber: this.form.phone,
            timeToShip: this.formCart.timeToShip
          }
          this.updateCartDetail({
            payload: cart,
            callback: res => {
              this.processingCart(res => {
                swal({
                  text: 'Đơn hàng của bạn đã được chuyển sang chế độ chờ giao hàng',
                  icon: 'success'
                })
              })
              this.updateUserInfo({
                userId: this.cartOrder.userId,
                payload: this.form
              })
              this.$router.push('/order-history')
            }
          })
        }
      },
      created() {
        this.form = Object.assign({}, this.form, JSON.parse(localStorage.getItem('loggedUser')))
        this.formCart = Object.assign({}, this.cartOrder, {
          name: this.form.name,
          telephoneNumber: this.form.phone,
          timeToShip: 0
        }, JSON.parse(localStorage.getItem('loggedUser')))
        this.$store.dispatch('getDetailCart')
      }
    }
</script>

<style scoped>
  .title-left{
    font-size: 16px;
    border-bottom: 3px solid #000000;
    margin-bottom: 20px;
  }
  .title-left h3{
    font-weight: 700;
  }
  .btn {
    text-decoration: none !important;
    width: 150px;
    height: 50px;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 24px;
    font-weight: bolder;
  }

  .hvr-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #b0b435;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0;
    box-shadow: none;
  }

  .hvr-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-hover:hover::after {
    -webkit-transform: scale(2);
    transform: scale(2);
    color: #ffffff;
  }

  .hvr-hover {
    overflow: hidden;
  }

</style>
