<template>
  <div>
    <v-container style="min-height: 500px">

      <p class="display-3 font-weight-light	text-center pa-4">Lịch sử giỏ hàng</p>
      <v-row  v-for="(history) in cartHistory" :key="history.id">
        <v-col :cols="9" md="12" sm="9">
          <v-simple-table>
            <template v-slot:default>
              <thead>
              <tr>
                <th class="text-center pl-10">ITEM</th>
                <th class="text-center">PRICE</th>
                <th class="text-center">QUANTITY</th>
                <th class="text-center">TOTAL</th>
              </tr>
              </thead>
              <tbody style="text-align: center">
              <tr  v-for="(item, index) in history.orderProducts" :key="index">
                <td>
                  <v-list-item
                    key="1"
                    @click=""
                  >
                    <v-list-item-avatar>
                      <v-img :src="item.product.images[0].fileDownloadUri"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>{{item.product.name}}</v-list-item-title>
                      <v-list-item-subtitle>{{item.product.cost}}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </td>
                <td v-if="item.product.promotion === null">${{item.product.cost}}</td>
                <td v-else>${{item.product.cost*(1 - item.product.promotion.reducePercent)}}</td>
                <td>
                  <input style="text-align: center"
                         :value="item.quantity"
                         :disabled="true"
                         type="number" step="1" max="10" min="1" title="Qty"
                         class="qty"
                         size="4"/>
                </td>
                <td v-if="item.product.promotion === null">{{item.product.cost*item.quantity}}</td>
                <td v-else>{{item.product.cost*(1 - item.product.promotion.reducePercent)*item.quantity}}</td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
          <div class="text-center" style="">
            <v-btn class="primary white--text mt-5" style="width: 200px" outlined @click="onReceived(history.id)">Received Products</v-btn>
            <v-btn class="red white--text mt-5" style="width: 200px" outlined @click="onCancel(history.id)">Cancel Order</v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-card  class="accent" >
      <v-container>
        <v-row no-gutters>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4 hidden-sm-only" align="right">
                <v-icon class="display-2">mdi-truck</v-icon>
              </v-col>
              <v-col class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">GIAO HÀNG NHANH GỌN</h5>
                <p class="font-weight-thin">Miễn phí giao hàng khi hóa đơn đủ điều kiện</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-cash-usd</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">CHÍNH SÁCH HOÀN TIỀN</h5>
                <p class="font-weight-thin">30 ngày hoàn tiền sau mua</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row>
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-headset</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">+84-989-280-740</h5>
                <p class="font-weight-thin">24/7 Hỗ trợ</p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>


<script>
  import {mapActions, mapGetters, mapState} from "vuex";
  import {swal} from "vue-swal/src";

  export default {
    name: "OrderHistory",
    computed: {
      ...mapState({
        'cartHistory': 'cartHistory'
      })
    },
    methods: {
      ...mapActions({
        'getCartHistory': 'getCartHistory',
        'receivedOrder': 'receivedOrder',
        'cancelOrder': 'cancelOrder'
      }),
      onReceived(id) {
        this.receivedOrder({
          id: id,
          callback: res => {
            if (res.status === 200) {
              swal({
                title: 'Successfully',
                text: 'Cảm ơn quý khách đã mua hàng',
                icon: 'success'
              })
              this.getCartHistory()
              if (this.cartHistory.length === 0) {
                this.$router.push('/')
              }
            }
            else {
              swal({
                title: 'Cảnh báo',
                text: res.data,
                icon: 'warning'
              })
            }

          }
        })
      },
      onCancel(id) {
        this.cancelOrder({
          id: id,
          callback: res => {
            swal({
              position: 'top-end',
              icon: 'success',
              title: 'Thành công',
              showConfirmButton: false,
              timer: 1500
            })
            this.$router.push('/')
          }
        })
      }
    },
    created() {
      this.getCartHistory()
    }
  }
</script>

<style scoped>

</style>
