<template>
  <div>
    <v-container style="min-height: 500px">

      <p class="display-3 font-weight-light	text-center pa-4">HISTORY CART</p>
      <v-row>
        <v-col :cols="9" md="12" sm="9">
          <v-simple-table>
            <template v-slot:default>
              <thead>
              <tr>
                <th class="text-center pl-10">PRODUCT CODE</th>
                <th class="text-center">QUANTITY</th>
                <th class="text-center">PRICE</th>
                <th class="text-center">TIME</th>
              </tr>
              </thead>
              <tbody style="text-align: center">
              <tr  v-for="(item, index) in orderProduct" :key="index">
                <td>{{item.productCode}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.createdDate}}</td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
    </v-container>
    <v-card  class="accent" >
      <v-container>
        <v-row no-gutters>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4 hidden-sm-only" align="right">
                <v-icon class="display-2">mdi-truck</v-icon>
              </v-col>
              <v-col class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">FREE SHIPPING & RETURN</h5>
                <p class="font-weight-thin">Free Shipping over $300</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-cash-usd</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">MONEY BACK GUARANTEE</h5>
                <p class="font-weight-thin">30 Days Money Back Guarantee</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row>
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-headset</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h5 class="font-weight-light">020-800-456-747</h5>
                <p class="font-weight-thin">24/7 Available Support</p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>


<script>
  import {mapActions} from "vuex";
  import {swal} from "vue-swal/src";

  export default {
    name: "History",
    data() {
      return {
        orderProduct: []
      }
    },
    methods: {
      ...mapActions({
        'getOrderProductHistory': 'getOrderProductHistory'
      })
    },
    created() {
      this.getOrderProductHistory(res => {
        console.log(res)
        this.orderProduct = res.data
      })
    }
  }
</script>

<style scoped>

</style>
