<template>
<div>
  <div class="top-search">
    <div class="container">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
      </div>
    </div>
  </div>
  <!-- End Top Search -->

  <!-- Start All Title Box -->
  <div class="all-title-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Wishlist</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active">Wishlist</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End All Title Box -->

  <!-- Start Wishlist  -->
  <div class="wishlist-box-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-main table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Images</th>
                <th>Product Name</th>
                <th>Unit Price </th>
                <th>Stock</th>
                <th>Add Item</th>
                <th>Remove</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="thumbnail-img">
                  <a href="#">
                    <img class="img-fluid" src="images/img-pro-01.jpg" alt="" />
                  </a>
                </td>
                <td class="name-pr">
                  <a href="#">
                    Lorem ipsum dolor sit amet
                  </a>
                </td>
                <td class="price-pr">
                  <p>$ 80.0</p>
                </td>
                <td class="quantity-box">In Stock</td>
                <td class="add-pr">
                  <a class="btn hvr-hover" href="#">Add to Cart</a>
                </td>
                <td class="remove-pr">
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="thumbnail-img">
                  <a href="#">
                    <img class="img-fluid" src="images/img-pro-02.jpg" alt="" />
                  </a>
                </td>
                <td class="name-pr">
                  <a href="#">
                    Lorem ipsum dolor sit amet
                  </a>
                </td>
                <td class="price-pr">
                  <p>$ 60.0</p>
                </td>
                <td class="quantity-box">In Stock</td>
                <td class="add-pr">
                  <a class="btn hvr-hover" href="#">Add to Cart</a>
                </td>
                <td class="remove-pr">
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="thumbnail-img">
                  <a href="#">
                    <img class="img-fluid" src="images/img-pro-03.jpg" alt="" />
                  </a>
                </td>
                <td class="name-pr">
                  <a href="#">
                    Lorem ipsum dolor sit amet
                  </a>
                </td>
                <td class="price-pr">
                  <p>$ 30.0</p>
                </td>
                <td class="quantity-box">In Stock</td>
                <td class="add-pr">
                  <a class="btn hvr-hover" href="#">Add to Cart</a>
                </td>
                <td class="remove-pr">
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
    export default {
        name: "WishList"
    }
</script>

<style scoped>
  .top-search{
    background-color: #010101;
    padding: 10px 0;
    display: none;
  }

  .top-search input.form-control{
    background-color: transparent;
    border: none;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    -o-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    color: #fff;
    height: 40px;
    padding: 0 15px;
  }

  .top-search .input-group-addon{
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
  }

  .top-search .input-group-addon.close-search{
    cursor: pointer;
  }

  .all-title-box{
    background: url("../../../static/img/product/gallery-img-02.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding: 70px 0px;
    position: relative;
  }
  .all-title-box::before{
    background: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  .all-title-box h2{
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    float: left;
    padding: 10px 0px;
  }
  .all-title-box .breadcrumb{
    background: #b0b435;
    margin: 0px;
    display: inline-block;
    border-radius: 0px;
    float: right;
  }
  .all-title-box .breadcrumb li{
    display: inline-block;
    color: #000000;
    font-size: 16px;
  }
  .all-title-box .breadcrumb li a{
    color: #ffffff;
    font-size: 16px;
  }
  .all-title-box .breadcrumb-item + .breadcrumb-item::before{
    color: #000000;
  }
  .btn {
    text-decoration: none !important;
    width: 100px;
    height: 32px;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 14px;
    font-weight: bolder;
  }

  .hvr-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #b0b435;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0;
    box-shadow: none;
  }

  .hvr-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-hover:hover::after {
    -webkit-transform: scale(2);
    transform: scale(2);
    color: #ffffff;
  }

  .hvr-hover {
    overflow: hidden;
  }


</style>
